<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="patients()">
        <ion-icon slot="icon-only" name="people"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bookings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <ion-segment [(ngModel)]="calendar.mode" mode="ios">
    <ion-segment-button value="month">Month</ion-segment-button>
    <ion-segment-button value="week">Week</ion-segment-button>
    <ion-segment-button value="day">Day</ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" (click)="calendarBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8">
      <h2 class="ion-text-center">{{viewTitle}}</h2>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" (click)="calendarNext()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <calendar
  [eventSource]="bookingSource"
  [calendarMode]="calendar.mode"
  (onTitleChanged)="viewTitle = $event"
  [startingDayWeek]="1"
  [autoSelect]="false"
  [startHour]="7"
  [endHour]="20"
  (onTimeSelected)="onTimeSelected($event)"
  (onEventSelected)="onBookingSelected($event)"
  [monthviewDisplayEventTemplate]="monthviewTemplate"
  [weekviewAllDayEventTemplate]="weekviewTemplate"
  > </calendar>

  <form [formGroup]="bookingForm">

    <ion-fab horizontal="center" vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button (click)="openAddModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-modal #modal
    [presentingElement]="presentingElement">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="modal.dismiss()" >Cancel
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
              <ion-button *ngIf="!updateEvent" (click)="scheduleBooking()" color="primary">Add</ion-button>
                <ion-button *ngIf="updateEvent" (click)="updateBooking()" color="danger">Update</ion-button>
            </ion-buttons>
            <ion-title class="ion-text-center" *ngIf="!updateEvent">New Booking</ion-title>
            <ion-title class="ion-text-center" *ngIf="updateEvent && selectedPatient" color="primary">Appointment</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding modal">
          <ion-card *ngIf="updateEvent && selectedPatient"  (click)="openUserModal()">
            <ion-list>
              <ion-item class="user-item">
                <ion-avatar slot="start">
                  <!-- Display different avatar images based on user's gender -->
                  <ng-container *ngIf="selectedPatient.gender === 'male'">
                    <img src="../../../assets/images/male.png" alt="Male Avatar">
                  </ng-container>
                  <ng-container *ngIf="selectedPatient.gender === 'female'">
                    <img src="../../../assets/images/female.png" alt="Female Avatar">
                  </ng-container>
                </ion-avatar>
                <ion-label>
                  <h2>{{ selectedPatient.name }} {{ selectedPatient.surname }}</h2>
                  <p class="user-info">Title: {{ selectedPatient.title }}</p>
                  <p class="user-info">Date of Birth: {{ selectedPatient.date_of_birth }}</p>
                  <p class="user-info">Mobile No: {{ selectedPatient.mobile_no }}</p>
                  <!-- Add more user details here as needed -->
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card>
          <div class="group">
            <ion-label>Reason:</ion-label>
            <ion-input type="text" formControlName="reason"/>
            <!-- <span class="error ion-padding errorSpan" *ngIf="errorControl && errorControl['reason'] && errorControl['reason'].errors && errorControl['reason'].errors['required']">*required</span> -->
          </div>
          <div class="group">
            <!-- Dropdown menu for patient list -->
            <ion-item>
              <ion-label>Select Patient:</ion-label>
              <ion-select interface="action-sheet" formControlName="selectedPatient" (ionChange)="selectedPatientObject($event)">
                <!-- Loop through patientList and display their titles -->
                <ion-select-option *ngFor="let patient of patientList" [value]="patient">
                  {{ patient.name }} - {{ patient.surname}}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="group">
            <!-- Dropdown menu for bookingTypes -->
            <ion-item>
              <ion-label>Select booking type:</ion-label>
              <ion-select interface="action-sheet" formControlName="selectedBookingType" (ionChange)="selectedTypeObject($event)">
                <!-- Loop through patientList and display their titles -->
                <ion-select-option *ngFor="let type of bookingTypes" [value]="type">
                  {{ type.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="group">
            <!-- Dropdown menu for bookingTypes -->
            <ion-item>
              <ion-label>Select booking status:</ion-label>
              <ion-select interface="action-sheet" formControlName="selectedBookingStatus" (ionChange)="selectedStatusObject($event)">
                <!-- Loop through patientList and display their titles -->
                <ion-select-option *ngFor="let status of bookingStatuses" [value]="status">
                  {{ status.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </div>
          <div class="group">
            <ion-item>
              <ion-label>
                Duration (min):
              </ion-label>
              <ion-input class="ion-text-end" formControlName="duration"/>
            </ion-item>
            <ion-item>
              <ion-label>
                All Day
              </ion-label>
              <ion-toggle formControlName="allDay"></ion-toggle>
            </ion-item>
            <ion-item (click)="showStart = !showStart">
              <ion-label>Starts</ion-label>
              <ion-text slot="end">{{formattedStart}}</ion-text>
            </ion-item>
            <ion-datetime #start *ngIf="showStart"
            [value]="newBooking.startTime"
            [presentation]="newBooking.allDay ? 'date' : 'time-date'"
            (ionChange)="startChanged(start.value)"></ion-datetime>

            <ion-item (click)="showEnd = !showEnd">
              <ion-label>Ends</ion-label>
              <ion-text slot="end">{{formattedEnd}}</ion-text>
            </ion-item>
            <ion-datetime #end *ngIf="showEnd" 
            [value]="newBooking.endTime"
            [presentation]="newBooking.allDay ? 'date' : 'time-date'"
            (ionChange)="endChanged(end.value)"></ion-datetime>
          </div>         
        </ion-content>
      </ng-template>
    </ion-modal>
  </form>

  <ion-modal #patientModal [presentingElement]="presentingElement">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center">User Details</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="patientModal.dismiss()" >X
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <div class="container py-2 px-2">
          <div>
            <ion-col size-lg="4">
              <ion-card class="cstUserCard">
                <div class="text-center p-2">
                  <div class="imgContainer">
                    <img class="img-fluid profileImg" [src]="selectedPatient.gender === 'male' ? 'assets/images/male.png' : 'assets/images/female.png'" alt="User Avatar">
                  </div>        
                  <h5 class="my-3 pt-3">{{ selectedPatient.title }} - {{ selectedPatient.name }} {{ selectedPatient.surname }}</h5>
                </div>
              </ion-card>
            </ion-col>
            <ion-col size-lg="8">
              <ion-card class="mb-2 mt-0 cstUserCard">
                <div class="p-2">
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">Full Name</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.name }} {{ selectedPatient.surname }}</p>
                    </ion-col>
                  </ion-row>
                  <hr>
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">Email</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.email }}</p>
                    </ion-col>
                  </ion-row>
                  <hr>
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">Mobile</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.mobile_no }}</p>
                    </ion-col>
                  </ion-row>
                  <hr>
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">ID Number</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.id_no }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">Date of Birth</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.date_of_birth }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">File Number</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.file_no }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">Dependant Number</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.dependant_no }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">Dependant Type</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.dependant_type }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">Account Identifier</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.acc_identifier }}</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="sm-3">
                      <p class="mb-0">Private</p>
                    </ion-col>
                    <ion-col class="sm-9">
                      <p class="text-muted mb-0">{{ selectedPatient.private }}</p>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-card>
            </ion-col>
          </div>
        </div>
      </ion-content>      
    </ng-template>
  </ion-modal>

  <ng-template #monthviewTemplate let-view="view" let-row="row" let-col="col">
    <div class="booking-container">
     {{view.dates[row*7+col].label}}
     <div class="indicator-container">
      <div class="booking-indicator" *ngFor="let e of view.dates[row*7+col].events">
        *
      </div>
     </div>
    </div>
  </ng-template>

  <ng-template #weekviewTemplate let-displayEvent="displayEvent">
    <div class="calendar-event-inner week-event">{{displayEvent.event.title}}</div>
  </ng-template>

  <!-- LOADING SPINNER -->
  <div class="loading-overlay" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
