<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>
    <!-- <ion-item *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
      <p>Please enter a valid username.</p>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <!-- <ion-item *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
      <p>Please enter a valid password.</p>
    </ion-item> -->

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
  </form>
</ion-content>
