<ion-content class="ion-padding">
  <ion-img src="../assets/images/logo.png"></ion-img>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="loginForm.invalid" color="success">Login</ion-button>
  </form>

  <!-- LOADING SPINNER -->
  <div class="loading-overlay" *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
</ion-content>
