<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="patients()">
        <ion-icon slot="icon-only" name="people"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Diary</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="calendar.mode" mode="ios">
    <ion-segment-button value="month">Month</ion-segment-button>
    <ion-segment-button value="week">Week</ion-segment-button>
    <ion-segment-button value="day">Day</ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" (click)="calendarBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="8">
      <h2 class="ion-text-center">{{viewTitle}}</h2>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" (click)="calendarNext()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row> 

  <calendar
  [calendarMode]="calendar.mode"
  (onTitleChanged)="viewTitle = $event"
  [startingDayWeek]="1"
  [startHour]="7"
  [endHour]="20"> </calendar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
</ion-content>
