.dashboard-container {
    --background: #fff !important;
}

.top-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 30vh;
}

.large-card {
    border: .2px solid var(--ion-color-medium)!important;
    border-radius: 10px;
    width: 100%; /* Three quarters of the page */
    margin: 0px; /* Center the card horizontally */
    height: 70vh;
    --background: linear-gradient(var(--ion-color-medium), var(--ion-color-light)) !important;
}

ion-menu-button {
    --color: var(--ion-color-primary)!important;
    font-weight: bold;
}

ion-card {
    height: 10rem;
}

.profile-pic {
    width: 120px;
    height: 120px;
}

.profile-name {
    margin-top: 10px;
    --color: var(--ion-color-dark)!important;
}

h1 {
    color: #fff;
    margin-top: 2em;
}

h2 {
    margin-top: 2em;
    color: #fff;
}

.bottom-part {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center cards horizontally */
    padding: 20px;
}

.dashboard-card {
    width: 100%; /* Take up full width of the container */
    margin: 10px 0; /* Add vertical margin between cards */
    --background: linear-gradient(#0498e8, #1974a5) !important;
}

.dashboard-card:hover {
    opacity: 0.8;
    --background: linear-gradient(#016fab, #145d85) !important;
}

.dashboard-card:active {
    --background: linear-gradient(#016fab, #145d85) !important;
}

.center-content {
    text-align: center;
    height: 100%;
    top: 2.5rem;
}

ion-card-content{
    display: block;
}

ion-icon {
    color: #fff;
    transform: scale(3);
}

.patientsAmount {
    font-size: 50px;
    color: #fff;
}

.patientsColumn {
    margin-top: 1.5em;
}

.bookingAmount {
    font-size: 50px;
    color: #fff;
}

.bookingColumn {
    margin-top: 1.5em;
}